
@using BlogPessoal.Web.Models
@model IEnumerable<CategoriaArtigo>


@{
    ViewBag.Title = "Sistema RZN";
}

<h2>Categoria Artigo > Listar</h2>


<div>
    @Html.ActionLink("Adicionar novo >", "Create")
</div>

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Descrição</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nome</td>
                <td>@item.Descricao</td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id })
                    @Html.ActionLink("Deletar", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>

</table>

