@model BlogPessoal.Web.Models.Artigo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Artigo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Autor.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Autor.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoriaArtigo.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoriaArtigo.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Conteudo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Conteudo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataPublicacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataPublicacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Removido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Removido)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
